#start {
    display: block;
    margin: 0 auto;
    margin-top: 20vh;
}
#quiz-page {
    margin: 0 auto;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 39px;
}
#save-page {
    text-align: center;
}
#quiz {
    margin: 0 auto;
    margin-top: 20vh;
    width:25%;
}
#question {
    font-weight: bold;
    font-size:30px;
    background-color: #DCDCDC;
    text-align: center;
    border-radius: 10px;
}
#HUD {
    margin: 0 auto;
    width:25%;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
}
#HUD span {
    font-weight: bold;
}

#answers button {
    width: 100%;
    margin: 9px;
    text-align: center;
}

#high-scores  {
    text-align: center
}

body {
    background-image: url('n64background.jpg');
    background-repeat: repeat-y; 
    background-size: cover;
}


@media screen and (max-width: 1500px) {
    #quiz {
        width:50%;
    }
    #HUD {
        margin: 0 auto;
        width:50%;
    }
}